{% extends "base.html" %}
{% block content %}
<div class="container">
      <h1 class="text-center">About Us</h1>
      <section class="page-section" id="contact">
          <p class="text-center">Best Programming is a programming-oriented blog. We publish multiple articles every day from several authors, all updatable and edited to ensure excellent content.</p>

           <p class="text-center"> We cover a range of subjects and languages for programming, with content for both beginners and very advanced readers. If you want to develop programming skills, it’s a must-have on your daily reading list.
             So, before you plan to start your own programming blog, it is best to be a regular reader of Better Programming blogs!</p>
            <div class="container">
                <!-- Contact Section Heading-->
                <h2 class="text-center">Subscribe To Our Updates</h2>
                <p>Receive a notification every time we post new articles in our blog</p>
                <!-- Icon Divider-->

                <!-- Contact Section Form-->
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-xl-7">
                        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                            <!-- Name input-->
                            <div class="form-floating mb-3">
                                <label for="name">Full name</label>
                                <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />

                                <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                            </div>
                            <!-- Email address input-->
                            <div class="form-floating mb-3">
                                 <label for="email">Email address</label>
                                <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />

                                <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                            </div>
                            
                             <div class="col text-center">
                                <a class="btn btn-sn btn-success mb-3" href="#">Subscribe</a>
                             </div>
                        </form>
                    </div>
                </div>
            </div>
      </section>
</div>

{% endblock content %}